yavar _Environments = {
  production: {API_URL: 'http://filopoint.heroku.com/api'},
  development: {API_URL: 'http://192.168.0.106:3000/api'},
};

function getEnvironment() {
  // Insert logic here to get the current platform (e.g. staging, production, etc)
  var platform = __DEV__ ? 'development' : 'production';

  // ...now return the correct environment
  return _Environments[platform];
}

const Environment = getEnvironment();
module.exports = Environment;